
#-- os stuff --#
.*DS_Store


#-- ide stuff --#
/.history
.idea
*.iml
*.ipr


/tmp
/.history

#-- npm stuff --#
/node_modules
npm-debug.log*


#-- testing --#
/coverage
/.eslintrc.json
*.spec.js
*.test.js


#-- tmp stuff --#
/tmp

